@import "tailwindcss";

@theme {
    --color-accent: #3b82f6;
    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --particle-background: #ffffff;
    --particle-color: #2563eb;
}

.dark {
    --particle-background: #000000;
    --particle-color: #60a5fa;
}